{% extends 'base/base.html' %}

{% block title %}Seu password foi trocado{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center;">
      <div class="col-12">
        <h1 style="margin-top:20%; color: black; font-family: Trebuchet MS, sans-seri; font-size: 5em;">
            Feito! seu password foi trocado.
        </h1>
      </div>
  
      <div class="col-12">
        <p>
           <a href="{% url 'home' %}">clique aqui e volte para home page.</a>
        </p>
      </div>
     
    </div>
  </div>
{% endblock %}