{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

{% if validlink %}
<form method="post" action="" class="" style="margin-top:10%; ">
  {% csrf_token %}

  <div class="offset-md-4">
    <div class="col-md-6">
    <h1 class="text-dark">Alteração de Senha</h1>

    <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
        <label for="{{ form.new_password1.id_for_label }}" style="color: white;">
          {{ form.new_password1.label}}
        </label>
        {% render_field form.new_password1 class="form-control" %}
        {% for error in form.new_password1.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
        <div class="text-dark" style="margin-top: 10px;">
          {{ form.new_password1.help_text }}
        </div>
    </div>

    <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
        <label for="{{ form.new_password2.id_for_label }}" style="color: white;">
          {{ form.new_password2.label}}
        </label>

        {% render_field form.new_password2 class="form-control" %}
        {% for error in form.new_password2.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>


    <button type="submit" class="btn btn-primary btn-block"> Trocar Senha</button>
        </div>
    </div>
</form>
{% else %}
<div class="col-6 offset-md-3" style="margin-top: 20%;text-align: center;">
  <p class="text-light">
    Esse link para troca de senha é inválidoa, porque já foi usada.
  </p>
  <p>
    <a class="text-dark" href="{% url 'home' %}">
      clique aqui para ir para home page
    </a>
  </p>
</div>
{% endif %}
{% endblock %}