{% extends 'base/base.html' %}

{% block title %}Email Enviado{% endblock %}

{% block content %}
  <div class="container">
    <div style="text-align: center;">
      <div class="col-12">
        <h1 style="margin-top:20%; color: black; font-family: Trebuchet MS, sans-seri; font-size: 5em;">
          Verifique seu e-mail.
        </h1>
      </div>
  
      <div class="col-12">
        <p style="color: black;"> 
          <span class="text-dark">
            Em breve voê recebera as instruções para troca de senha em seu e-mail, Obrigado.
          </span>
        </p>
        <p>
           <a href="{% url 'home' %}">clique aqui e volte para home page.</a>
        </p>
      </div>
     
    </div>
  </div>
{% endblock %}