 {% load static %}
 <!--==========================
    Footer
  ============================-->

  <!-- Footer -->
  <footer id="footer" class="page-footer font-small indigo">
    <!-- Copyright -->
    <div class="copyright footer-termos text-center text-dark py-3">
        <labe>
            <input type="checkbox" checked />
              Ao disponibilizar os seus dados através desta página, você concorda com o
         </labe>
        <a class="text-primary" href="#">Termo de Privacidade</a>
    </div>
    <!-- Copyright -->
      <div class="row footer-ps">
          <div class="col-md-8 text-center">
              <span class="text-muted ">
                  Todos os direitos reservados.© 2022 Copyright:
                  <strong> Amós Smart Solutions</strong></span>
          </div>
          <div class="col-md-4 text-center">
              <span class="text-muted"><strong>CNPJ:</strong> 36.637.086/0001-05</span>
          </div>
      </div>
  
  </footer>
  